/* Text shadow for the register title */
.text-shadow {
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

/* Navbar background color */
.nav-extended {
    background-color: #343a40;
}

/* Menu icon color */
.sidenav {
    background-color: #343a40;
}

/* Collapsible header color */
.collapsible-header {
    background-color: #343a40;
}

/* Menu icon color */
.sidenav-trigger .fa-bars {
    color: #ef6c00; /* orange darken-3 */
}

/* Hover effect for the menu icon */
.sidenav-trigger .fa-bars:hover {
    color: #ff9800; /* lighter orange on hover */
}

#register-title {
    font-weight: bold;
}

#login-title {
    font-weight: bold;
}

.flashes {
    line-height: 2;
}

/* Flash Messages */
.flashes h4 {
    line-height: 2;
    background-color: #ef6c00; /* orange darken-3 */
    color: white;
    border-radius: 5px;
    padding: 1rem;
    margin: 1rem 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transition: opacity 0.5s ease-in-out;
}

/* Optional animation for flash messages */
.flashes h4 {
    animation: fadeIn 0.5s ease-in;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
