{% extends "base.html" %}
{% block content %}

<!-- Add Category Title -->
<h3 id="add-recipe-title" class="amber-text text-darken-3 center-align">
    Add Category
</h3>

<!-- Add Category Form -->
<div class="row card-panel grey lighten-5">
    <form class="col s12" method="POST" action="{{ url_for('add_category') }}">
        <!-- Add CSRF Token -->
        {{ form.csrf_token }}

        <!-- Category Name -->
        <div class="row">
            <div class="input-field col s8 offset-s2">
                <i class="fa-solid fa-folder-open prefix amber-text text-darken-3"></i>
                <input id="category_name" name="category_name" minlength="3" maxlength="50" type="text" class="validate"
                    required>
                <label for="category_name">Category Name</label>
            </div>
        </div>

        <!-- Add Category Submit Button -->
        <div class="row">
            <div class="col s10 offset-s1 center-align">
                <button type="submit" class="btn-large amber darken-3 text-shadow">
                    Add Category <i class="fa-solid fa-plus"></i>
                </button>
            </div>
        </div>
    </form>
</div>

{% endblock %}