{% extends "base.html" %}
{% block content %}

<h3 id="add-recipe-title" class="amber-text text-darken-3 center-align">
    Add Recipe
</h3>

<div class="row card-panel grey lighten-5">
    <form class="col s12" method="POST" action="#">
        <div class="row">
            <div class="input-field col s8 offset-s2">
                <i class="fa-solid fa-folder-open prefix amber-text text-darken-3"></i>
                <select id="category_name" name="category_name" class="validate" required>
                    <option value="" disabled selected>Choose Category</option>
                    {% for category in categories %}
                    <option value="{{ category.category_name }}">{{ category.category_name }}</option>
                    {% endfor %}
                </select>
                <label for="category_name">Recipe Category</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s8 offset-s2">
                <i class="fa-solid fa-bowl-food prefix amber-text text-darken-3"></i>
                <input id="recipe_name" name="recipe_name" minlength="3" maxlength="50" type="text" class="validate"
                    required>
                <label for="recipe_name">Recipe Name</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s8 offset-s2">
                <i class="fas fa-book-open prefix amber-text text-darken-3"></i>
                <textarea id="recipe_description" name="recipe_description" minlength="3" maxlength="250"
                    class="materialize-textarea validate" required></textarea>
                <label for="recipe_description">Recipe Description</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s8 offset-s2">
                <i class="fas fa-calendar-alt prefix amber-text text-darken-3"></i>
                <input id="date_added" name="date_added" type="text" class="datepicker validate" required>
                <label for="date_added">Recipe Date</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s8 offset-s2">
                <!-- Switch -->
                <div class="switch">
                    <i class="fa-solid fa-carrot prefix amber-text text-darken-3"></i>
                    <label for="healthy">
                        <input type="checkbox" id="healthy" name="healthy">
                        <span class="lever"></span>
                        Healthy
                    </label>
                </div>
            </div>
        </div>
    </form>
</div>

{% endblock %}