{% extends "base.html" %}
{% block content %}

<!-- Edit Category Title -->
<h3 id="edit-category-title" class="amber-text text-darken-3 center-align">
    Edit Category
</h3>

<!-- Edit Category Form -->
<div class="row card-panel grey lighten-5">
    <form class="col s12" method="POST" action="{{ url_for('edit_category', category_id=category._id) }}">
        <!-- Category Name -->
        <div class="row">
            <div class="input-field col s8 offset-s2">
                <i class="fa-solid fa-folder-open prefix amber-text text-darken-3"></i>
                <input id="category_name" name="category_name" minlength="3" maxlength="50" type="text" class="validate"
                    required value="{{ category.category_name }}">
                <label for="category_name">Category Name</label>
            </div>
        </div>
        <!-- Add Category Submit Button -->
        <div class="row">
            <div class="col s10 offset-s1 center-align">
                <a href="{{ url_for('categories') }}" class="btn-large black text-shadow">
                    Cancel<i class="fas fa-times-circle right"></i>
                </a>
                <button type="submit" class="btn-large amber darken-3 text-shadow">
                    Edit Category<i class="fas fa-edit right"></i>
                </button>
            </div>
        </div>
    </form>
</div>

{% endblock %}