{% extends "base.html" %}
{% block content %}

<h3 id="recipes-title" class="amber-text text-darken-3 center-align">
    Recipes
</h3>

    <ul class="collapsible popout">
        {% for recipe in recipes %}
        <li>
            <div class="collapsible-header amber-text text-darken-3">
                <i class="fas fa-caret-down"></i>
                <strong>{{ recipe.recipe_name }}</strong>
            </div>
            <div class="collapsible-body">
                <span>
                    <strong>{{ recipe.category_name }}</strong>
                    <p>{{ recipe.recipe_description }}</p>
                </span>
            </div>
        </li>
        {% endfor %}
    </ul>


{% endblock %}