{% extends "base.html" %}
{% block content %}

<h3 id="recipes-title" class="amber-text text-darken-3 center-align">
    Recipes
</h3>

<ul class="collapsible popout">
    {% for recipe in recipes %}
    <li>
        <div class="collapsible-header amber-text text-darken-3">
            <div class="col s3">
                <i class="fas fa-caret-down"></i>
                <a href="#" class="btn-small amber accent-4">Done</a>
                <a href="#" class="btn-small black lighten-1">Edit</a>
            </div>
            <div class="col s9">
                <strong>{{ recipe.recipe_name }}</strong>
            </div>
        </div>
        <div class="collapsible-body">
            <span>
                <strong>{{ recipe.category_name }}</strong>
                <p>{{ recipe.recipe_description }}</p>
                <p>{{ recipe.is_healthy }}</p>
                <p><em>by: {{ recipe.created_by }}</em></p>
            </span>
        </div>
    </li>
    {% endfor %}
</ul>


{% endblock %}