{% extends "base.html" %}
{% block content %}

<!-- Recipes Title -->
<h3 id="recipes-title" class="amber-text text-darken-3 center-align">
    Recipes
</h3>

<!-- Recipes List -->
<ul class="collapsible popout">
    {% for recipe in recipes %}
    <li>
        <div class="collapsible-header amber-text text-darken-3">
            <div class="col s3">
                <i class="fas fa-caret-down"></i>
                {% if session.user|lower == recipe.created_by|lower or session.user|lower == "admin" %}
                <a href="{{ url_for('delete_recipe', recipe_id=recipe._id) }}"
                    class="btn-small black delete-recipe">Delete</a>
                <a href="{{ url_for('edit_recipe', recipe_id=recipe._id) }}" class="btn-small amber darken-3">Edit</a>
                {% endif %}
            </div>
            <div class="col s9">
                <strong>{{ recipe.recipe_name }}</strong>
            </div>
        </div>
        <!-- Recipe Details -->
        <div class="collapsible-body">
            <span>
                <strong>{{ recipe.category_name }}</strong>
                <p>{{ recipe.recipe_description }}</p>
                <p>{{ recipe.is_healthy }}</p>
                <p><em>by: {{ recipe.created_by }}</em></p>
            </span>
        </div>
    </li>
    {% endfor %}
</ul>

<!-- Delete Confirmation Modal -->
<div id="deleteModal" class="modal">
    <div class="modal-content">
        <h4>Delete Recipe</h4>
        <p>Are you sure you want to delete this recipe? This action cannot be undone.</p>
    </div>
    <div class="modal-footer">
        <a href="#!" class="modal-close waves-effect waves-green btn-flat">Cancel</a>
        <a href="#!" class="waves-effect waves-light btn-small black" id="confirmDelete">Delete</a>
    </div>
</div>

{% endblock %}